<div class="form">
  <h1>投稿ページ</h1>
  <%= form_with scope: :post, url: '/hobbyspot/posts' do |f| %>
    <%= f.hidden_field :admin_id, value: "#{current_admin.id}" %>
    <div class="rich-form">
      <%= f.label :body, "内容" %>
      <%= f.rich_text_area :body %>
    </div>
    <div>
      <%= f.submit '投稿' %>
    </div>
    <% end %>
</div>
