<h1>ユーザー登録</h1>
<div class="sign-form">
  <%= form_with url: @user do |f| %>
    <div>
      <%= f.text_field :name, placeholder: "ユーザー名" %>
    </div>
    <div>
      <%= f.email_field :email, placeholder: "メールアドレス" %>
    </div>
      <%= f.password_field :password, placeholder: "パスワード" %>
    <div>
      <%= f.submit "アカウント作成" %>
    </div>
  <% end %>
</div>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>


