<!DOCTYPE html>
<html>
  <head>
    <title>ほびスポ</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
  </head>

  <body>
    <header>
    <% if admin_signed_in? %>
      <%= render"shared/admin" %>
    <% elsif hobbyspot_user_signed_in? %>
      <%= render"shared/user" %>
    <% else %>
      <%= render"shared/guest" %>
    <% end %>
    </header>
      <main>
        <div class="flash_message">
          <div class="notice">
            <% if flash[:notice] %>
              <div class="notice-message"><%= flash[:notice] %></div>
            <% end %>
          </div>
        </div>
        <%= yield %>
      </main>
    <footer>
      <%= render"shared/footer" %>
    </footer>
  </body>
</html>
